<div class="card">
  <!-- string interpolation -->
  <div class="card-img-wrapper">
    <img
      *ngIf="data.image"
      class="card-img-top"
      src="assets/images/{{ data.image }}"
    />
    <img
      *ngIf="!data.image"
      class="card-img-top"
      src="assets/images/house_default.png"
    />
    <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button
          class="btn btn-primary"
          routerLink="/property-details/{{ data.id }}"
        >
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="fa-regular fa-address-book"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1 class="mb-0">{{ data.bhk }} BHK {{ data.propertyType }}</h1>

    in {{ data.name }}
    <span *ngIf="data.name">,</span>
    {{ data.city }}

    <h6 class="mt-2">
      {{ data.furnishingType }}
      <span *ngIf="data.furnishingType !== 'Unfurnished'">Furnished</span> |
      Ready to Move
    </h6>

    <hr class="mt-0 mb-2" />

    <h6 class="mb-0">
      Price: <span class="font-highlight">{{ data.price }} USD.</span> | Area:
      <span class="font-highlight">{{ data.builtArea }} Sq Ft </span>
    </h6>
  </div>
</div>
