<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card col-12">
      <div class="card-header"><h3>List Your Property</h3></div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #staticTabs>
              <tab
                class="member-tabset"
                heading="Basic Info"
                formGroupName="BasicInfo"
              >
                <div class="form-group col-12">
                  <p>I want to</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="sellRent"
                  >
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="sellRent"
                    >
                      Sell
                    </label>
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="sellRent"
                      required
                      >Rent</label
                    >
                  </div>
                  <div
                    class="error-block"
                    *ngIf="sellRent.invalid && nextClicked"
                  ></div>
                </div>

                <div class="form-group col-12">
                  <p>BHK</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    name="bhk"
                    [(ngModel)]="propertyView.bhk"
                    formControlName="bhk"
                  >
                    <label
                      *ngFor="let bhk of [1, 2, 3, 4]"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="bhk"
                      role="button"
                      name="bhk"
                      >{{ bhk }}</label
                    >
                  </div>
                  <div class="error-block" *ngIf="bhk.invalid && nextClicked">
                    Please select BHK
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="propertyType"
                    [(ngModel)]="propertyView.propertyType"
                  >
                    <label
                      *ngFor="let propertyType of propertyTypes"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="propertyType"
                      tabindex="0"
                      role="button"
                      name="type"
                      >{{ propertyType }}
                    </label>
                  </div>
                  <div
                    class="error-block"
                    *ngIf="propertyType.invalid && nextClicked"
                  >
                    Please select property type
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Furnishing Type</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="furnishingType"
                    [(ngModel)]="propertyView.furnishingType"
                  >
                    <label
                      *ngFor="let furnishType of furnishTypes"
                      class="btn btn-outline-primary mr-2"
                      [btnRadio]="furnishType"
                      tabindex="0"
                      role="button"
                      name="furnishingType"
                      >{{ furnishType }}</label
                    >
                  </div>
                  <div
                    class="error-block"
                    *ngIf="furnishingType.invalid && nextClicked"
                  >
                    Please select furnishing type
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="name"> in Building/Soceity/Project </label>
                  <input
                    type="text"
                    class="form-control"
                    ngModel
                    formControlName="name"
                    [(ngModel)]="propertyView.name"
                  />
                  <div
                    class="error-block"
                    *ngIf="name.invalid && (nextClicked || name.touched)"
                  >
                    Please select building, society or project name
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="city">City</label>
                  <select
                    class="form-control"
                    formControlName="city"
                    [(ngModel)]="propertyView.city"
                  >
                  <option value="">-- Select City --</option>
                  <option
                      *ngFor="let city of cityList"
                      value="{{ city.id }}"
                    >
                      {{ city.name }}
                    </option>
                  </select>
                  <div
                    class="error-block"
                    *ngIf="city.invalid && (nextClicked || city.touched)"
                  >
                    Please select city
                  </div>
                </div>

                <div class="form-group col-12 mb-2">
                  <button
                    type="button"
                    class="btn btn-primary m-2 btn-lg btn-block"
                    (click)="selectNextTab(1, basicInfo.valid)"
                    [disabled]="basicInfo.invalid"
                  >
                    Next
                  </button>
                </div>
              </tab>

              <tab heading="Pricing and Area" formGroupName="PricingInfo">
                <div class="form-group col-12">
                  <label *ngIf="sellRent.value == 1">Price (in USD)</label>
                  <label *ngIf="sellRent.value == 2">Rent (in USD)</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="price"
                    [(ngModel)]="propertyView.price"
                  />
                  <div
                    class="error-block"
                    *ngIf="price.invalid && (nextClicked || price.touched)"
                  >
                    Please select
                    <!-- if else on Javascript HTML Template Pay attention -->
                    <span *ngIf="sellRent.value == 1; else ShowRent"
                      >price</span
                    >
                    <ng-template #ShowRent>rent</ng-template>
                  </div>
                </div>

                <div *ngIf="sellRent.value == 2">
                  <div class="form-group col-12">
                    <label>Security (in USD)</label>
                    <input
                      type="text"
                      formControlName="security"
                      class="form-control"
                    />
                  </div>

                  <div class="form-group col-12">
                    <label>Maintenance (in USD)</label>
                    <input
                      type="text"
                      formControlName="maintenance"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="builtArea"
                    [(ngModel)]="propertyView.builtArea"
                  />

                  <div
                    class="error-block"
                    *ngIf="builtArea.invalid && nextClicked"
                  >
                    Please select built up area
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input
                    type="text"
                    formControlName="carpetArea"
                    class="form-control"
                  />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectNextTab(2, pricingInfo.valid)"
                    [disabled]="pricingInfo.invalid"
                  >
                    Next
                  </button>

                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectNextTab(0)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input
                    type="text"
                    formControlName="floorNo"
                    class="form-control"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input
                    type="text"
                    formControlName="totalFloor"
                    class="form-control"
                  />
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="address"
                  />
                  <div
                    class="error-block"
                    *ngIf="address.invalid && (nextClicked || address.touched)"
                  >
                    Please select address
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input
                    type="text"
                    formControlName="landMark"
                    class="form-control"
                  />
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectNextTab(3, addressInfo.valid)"
                    [disabled]="addressInfo.invalid"
                  >
                    Next
                  </button>

                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectNextTab(1)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="readyToMove"
                  >
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="readyToMove"
                      >Yes
                    </label>
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="readyToMove"
                      >No
                    </label>
                  </div>
                  <div
                    class="error-block"
                    *ngIf="readyToMove.invalid && nextClicked"
                  >
                    Please select ready to move
                  </div>
                </div>

                <div *ngIf="readyToMove.value == 2" class="form-group col-6">
                  <label>Possession/Available From</label>
                  <input
                    type="text"
                    placeholder="DD-MM-YYYY"
                    class="form-control"
                    formControlName="possessionOn"
                    bsDatepicker
                    [bsConfig]="{
                      containerClass: 'theme-dark-blue',
                      dateInputFormat: 'DD-MM-YYYY'
                    }"
                  />
                </div>

                <div *ngIf="readyToMove.value == 1" class="form-group col-3">
                  <label>Age of Property</label>
                  <input
                    type="text"
                    formControlName="ageOfProperty"
                    class="form-control"
                  />
                </div>

                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="gated">
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="gated"
                      >Yes</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="gated"
                      >No</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <p>Main Entrance</p>
                  <div
                    class="btn-group"
                    btnRadioGroup
                    formControlName="mainEntrance"
                  >
                    <label
                      class="btn btn-outline-primary mr-2"
                      btnRadio="1"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >East</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="2"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >West</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="3"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >South</label
                    >
                    <label
                      class="btn btn-outline-primary"
                      btnRadio="4"
                      tabindex="0"
                      role="button"
                      name="Entrance"
                      >North</label
                    >
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea
                    type="text"
                    class="form-control"
                    formControlName="description"
                    rows="6"
                  ></textarea>
                </div>

                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectNextTab(4, otherInfo.valid)"
                    [disabled]="otherInfo.invalid"
                  >
                    Next
                  </button>

                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectNextTab(2)"
                  >
                    Back
                  </button>
                </div>
              </tab>

              <tab heading="Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br />
                    This is under construction
                  </div>
                </div>
                <div class="form-group col-12">
                  <button
                    type="button"
                    class="btn btn-primary btn-block"
                    (click)="selectNextTab(3)"
                  >
                    Back
                  </button>
                  <button type="submit" class="btn btn-primary btn-block">
                    Save
                  </button>
                  <button type="reset" class="btn btn-primary btn-block">
                    Cancel
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Your Property Preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <app-property-card
        [data]="propertyView"
        [hideIcons]="true"
      ></app-property-card>
    </div>
  </div>
</div>
